<section>
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>Renderização de string com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValue() }}</p>
    <p>
      Curso de Angular e gosto do curso: {{ angularCourse && getLikedCourse() }}
    </p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ getImageUrl() }}" alt="Lorem Pixel Image" />
    <img [src]="getImageUrl()" alt="Lorem Pixel Image" />
    <img bind-src="getImageUrl()" alt="Lorem Pixel Image" />
  </article>

  <article>
    <h3>Class & Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #selectedClass (change)="(0)">
        <option value="success">Sucesso</option>
        <option value="info">Informação</option>
        <option value="warning">Alerta</option>
        <option value="danger">Erro</option>
      </select>
      <br />
      <br />
      <ngb-alert [dismissible]="false" [type]="selectedClass.value">
        Alerta colorido de acordo com o valor do combobox
      </ngb-alert>
      <ngb-alert
        [dismissible]="false"
        type="danger"
        [style.display]="selectedClass.value === 'danger' ? 'block' : 'none'"
      >
        Esse alerta somente será apresentado em caso de erro
      </ngb-alert>
    </div>
  </article>
</section>
