<section>
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>Renderização de string com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValue() }}</p>
    <p>
      Curso de Angular e gosto do curso: {{ angularCourse && getLikedCourse() }}
    </p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ getImageUrl() }}" alt="Lorem Pixel Image" />
    <br />
    <img [src]="getImageUrl()" alt="Lorem Pixel Image" />
    <br />
    <img bind-src="getImageUrl()" alt="Lorem Pixel Image" />
  </article>
</section>
